.editorconfig
node_modules
test/fixtures/titanicO*
danfojs-node/test/fixtures/titanicOut.csv
danfojs-node/test/fixtures/titanicOutLocal.csv
danfojs-node/test/fixtures/titanicOutRemote.csv
danfojs-node/test/fixtures/book.json
danfojs-node/test/fixtures/testSeries.xlsx
danfojs-node/test/fixtures/test.xlsx
danfojs-node/test/fixtures/test_write.json
danfojs-node/test/fixtures/test_write.csv
danfojs-node/test/fixtures/test_row_write.json
danfojs-node/test/fixtures/test_col_write.json
